
WordsTutor.xcworkspace/xcuserdata/OlegResh.xcuserdatad/UserInterfaceState.xcuserstate

.DS_Store

WordsTutor.xcworkspace/xcuserdata/OlegResh.xcuserdatad/UserInterfaceState.xcuserstate

WordsTutor.xcworkspace/xcuserdata/olegreshetnyak.xcuserdatad/UserInterfaceState.xcuserstate

WordsTutorIOS/wordstutorios.xcodeproj/xcuserdata/olegreshetnyak.xcuserdatad/xcschemes/wordstutorios.xcscheme

WordsTutorIOS/wordstutorios.xcodeproj/xcuserdata/olegreshetnyak.xcuserdatad/xcschemes/xcschememanagement.plist

wordstutorosx/wordstutorosx.xcodeproj/xcuserdata/olegreshetnyak.xcuserdatad/xcschemes/wordstutorosx.xcscheme

wordstutorosx/wordstutorosx.xcodeproj/xcuserdata/olegreshetnyak.xcuserdatad/xcschemes/xcschememanagement.plist
